html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#content {
    height: 100%;
}
#left {
    float: left;
    width: 40%;
    background: white;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px;
    <!-- display: flex; -->
    justify-content: center;
    align-items: center;
}
.l1{
    height: 40%;
    padding-left: 15px;
}

.l2{
    position: absolute;
    top:60%;
    height: 40%;
    width: 40%;
    padding-left: 15px;
}
#right1 {
    float: left;
    width: 60%;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
}
#right2 {
    float: left;
    width: 60%;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
}
.heading {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    padding-left: 15px;
}
.headings {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1vw;
    padding-left: 5px;
}
.bodytext {
    font-family: 'Montserrat', cursive;
}