<html>
<body class="bodytext">
<h1 class="heading">Users#admin</h1>
<p style="padding-left:25px;">Find me in app/views/users/admin.html.erb</p>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="admin.css">
<table>
    <tr>
        <td class="left"><b>View All Performers</b></td>
        <td class="right">
            <p class="r1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
             </p>
        </td>
    </tr>
    <tr>
        <td class="left"><b>Stacks</b></td>
        <td class="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><p>Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim.</p>
              <br/>
              <div class="card">
                <div class="container">
                  <h4><b>Stack for event 1</b></h4>
                  <p><a href="">Click to expand</a></p>
                </div>
              </div>
              <br/><br/>
              <div class="card">
                <div class="container">
                  <h4><b>Stack for event 2</b></h4>
                  <p><a href="">Click to expand</a></p>
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td class="left"><b>Curated Stacks</b></td>
        <td class="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><p>Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim.</p>
              <br/>
              <div class="card">
                <div class="container">
                  <h4><b>Curated Stack 1</b></h4>
                  <p><a href="">Click to expand</a></p>
                </div>
              </div>
              <br/><br/>
              <div class="card">
                <div class="container">
                  <h4><b>Curated Stack 2</b></h4>
                  <p><a href="">Click to expand</a></p>
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td class="left"><b>Final List</b></td>
        <td class="right">
            <p class="r1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
             </p>
        </td>
    </tr>
</table>
</body>
</html>

