<html>
<body class="bodytext">
<h1 class="heading">Users#profile</h1>
<p style="padding-left:25px;">Find me in app/views/users/profile.html.erb</p>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="profile.css">
<div id="content">
  <div id="left">
      <p class="l1"><b>Form Links</b></p>
      <br/><br/>
      <p class="l2"><b>Profile Information</b></p>
      <br/><br/>
      
  </div>
  
  <div id="right1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <ul>
        <li><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
        <li><a href="">Link 3</a></li>
        <li><a href="">Link 4</a></li>
        <li><a href="">Link 5</a></li>
        <li><a href="">Link 6</a></li>
        <li><a href="">Link 7</a></li>
        <li><a href="">Link 8</a></li>
        <li><a href="">Link 9</a></li>
        <li><a href="">Link 10</a></li>
        <li><a href="">Link 11</a></li>
        <li><a href="">Link 12</a></li>
        <li><a href="">Link 13</a></li>
        <li><a href="">Link 14</a></li>
        <li><a href="">Link 15</a></li>
        <li><a href="">Link 16</a></li>
        <li><a href="">Link 17</a></li>
        <li><a href="">Link 18</a></li>
        <li><a href="">Link 19</a></li>
      </ul>
  </div>
  <div id="right2">
      <br/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
  </div>
</div>
</body>
</html>

